@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Festive&display=swap");
h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 0.6rem;
}

* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 60%;
  font-family: "Poppins", sans-serif;
  color: #050505;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.hehe {
  position: absolute;
  opacity: 0;
  -webkit-animation: hehe 1s linear infinite alternate forwards;
          animation: hehe 1s linear infinite alternate forwards;
}

header {
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1.logo {
  font-size: 1.2rem;
  line-height: 13px;
}

header h1.logo span {
  font-size: 0.8rem;
}

header .nav-links nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav-links nav ul a {
  color: #050505;
}

header .nav-links nav ul a li {
  margin: 0 10px;
  font-size: 1rem;
  font-weight: 600;
}

header .nav-links nav ul a:hover {
  color: #5c0340;
}

header .button-nav {
  display: none;
}

header a.button {
  font-size: 0.8rem;
  background-color: #5c0340;
  color: #fff;
  padding: 8px;
  border-radius: 10px;
}

header a.button:hover {
  background-color: #f5f5f5;
  color: #050505;
}

@media screen and (max-width: 550px) {
  header {
    position: relative;
  }
  header h1.logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  header .nav-links {
    position: absolute;
    top: 10vh;
    text-align: center;
    width: 100%;
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  header .nav-links nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .nav-links.open {
    opacity: 1;
    pointer-events: all;
    z-index: 10;
    background-color: #fff;
  }
  header .button-nav {
    display: block;
    font-size: 1rem;
    padding: 0 20px;
  }
}

.spotlight {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spotlight .main {
  position: relative;
}

.spotlight .main .heart {
  top: -110px;
  left: 22px;
  opacity: 0;
  -webkit-animation: heart 2s 2s forwards;
          animation: heart 2s 2s forwards;
}

.spotlight .main .hero-img {
  position: absolute;
  top: -250px;
}

.spotlight .main .hero-img img {
  width: 80%;
}

.spotlight .main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spotlight .main .container h1.fluid-text {
  text-align: center;
  font-size: 6rem;
  line-height: 50px;
  padding: 0 10px;
  border-right: 5px solid black;
  -webkit-animation: main-text 2s forwards;
          animation: main-text 2s forwards;
}

.spotlight .main .container h1.fluid-text span {
  font-size: 3.7rem;
}

.spotlight .main .container .content {
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.spotlight .main .container .content h5 {
  font-size: 1rem;
  max-width: 250px;
  opacity: 0;
  -webkit-animation: content 2s 1s forwards;
          animation: content 2s 1s forwards;
}

.spotlight .main .container .content .social {
  opacity: 0;
  -webkit-animation: social 2s 2.5s forwards;
          animation: social 2s 2.5s forwards;
}

.spotlight .main .container .content .social a.social-btn i.fab {
  font-size: 2rem;
  margin: 0 10px;
  color: #050505;
}

@media screen and (max-width: 783px) {
  .spotlight .main .hero-img {
    top: -200px;
    left: -100px;
  }
}

@media screen and (max-width: 683px) {
  .spotlight .main .heart {
    left: 18px;
  }
  .spotlight .main .hero-img {
    top: -200px;
  }
  .spotlight .main .hero-img img {
    width: 70%;
  }
  .spotlight .main .container h1.fluid-text {
    font-size: 5rem;
  }
  .spotlight .main .container h1.fluid-text span {
    font-size: 3.1rem;
  }
  .spotlight .main .container .content h5 {
    font-size: 0.9rem;
  }
  .spotlight .main .container .content .social a.social-btn i.fab {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .spotlight .main .heart {
    top: -90px;
    left: 14px;
  }
  .spotlight .main .hero-img {
    top: -180px;
  }
  .spotlight .main .hero-img img {
    width: 65%;
  }
  .spotlight .main .container h1.fluid-text {
    font-size: 4rem;
    line-height: 35px;
  }
  .spotlight .main .container h1.fluid-text span {
    font-size: 2.5rem;
  }
  .spotlight .main .container .content h5 {
    font-size: 0.8rem;
  }
  .spotlight .main .container .content .social a.social-btn i.fab {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 480px) {
  .spotlight .main .hero-img {
    top: -160px;
  }
  .spotlight .main .hero-img img {
    width: 60%;
  }
  .spotlight .main .container .content .social a.social-btn i.fab {
    font-size: 1.4rem;
    margin: 0 5px;
  }
}

@media screen and (max-width: 440px) {
  .spotlight .main .heart {
    top: -50px;
    left: -115px;
    opacity: 0;
    -webkit-animation: heart 2s 2s forwards;
            animation: heart 2s 2s forwards;
  }
  .spotlight .main .hero-img {
    top: -150px;
  }
  .spotlight .main .hero-img img {
    width: 50%;
  }
  .spotlight .main .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .spotlight .main .container h1.fluid-text {
    font-size: 3.6rem;
    line-height: 35px;
    -webkit-animation: main-text-r 2s forwards;
            animation: main-text-r 2s forwards;
  }
  .spotlight .main .container h1.fluid-text span {
    font-size: 2.2rem;
  }
  .spotlight .main .container .content {
    text-align: center;
  }
  .spotlight .main .container .content h5 {
    font-size: 1rem;
    -webkit-animation: content-r 2s 1s forwards;
            animation: content-r 2s 1s forwards;
  }
  .spotlight .main .container .content .social a.social-btn i.fab {
    font-size: 1.4rem;
  }
}

@-webkit-keyframes main-text {
  from {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
    border: none;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    border-right: 5px solid black;
  }
}

@keyframes main-text {
  from {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
    border: none;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    border-right: 5px solid black;
  }
}

@-webkit-keyframes content {
  0% {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes content {
  0% {
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes social {
  0% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes social {
  0% {
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes heart {
  0% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes heart {
  0% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes main-text-r {
  from {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
    border: none;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    border-right: none;
  }
}

@keyframes main-text-r {
  from {
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
    border: none;
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    border-right: none;
  }
}

@-webkit-keyframes content-r {
  0% {
    -webkit-transform: translateY(-400px);
            transform: translateY(-400px);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    border-top: 3px solid #000;
  }
}

@keyframes content-r {
  0% {
    -webkit-transform: translateY(-400px);
            transform: translateY(-400px);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
    border-top: 3px solid #000;
  }
}

.about {
  margin: 15% 0;
}

.about .about-head {
  text-align: center;
}

.about .about-head h6.top-head {
  font-size: 0.9rem;
  color: #5c0340;
}

.about .about-head h5.sub-head {
  font-size: 1.8rem;
}

.about .about-head h5.sub-head span {
  color: #5c0340;
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem auto;
}

.about .container .left {
  max-width: 600px;
}

.about .container .left .content h3.head {
  font-size: 1.7rem;
  margin-bottom: 35px;
  position: relative;
}

.about .container .left .content h3.head span {
  color: #5c0340;
}

.about .container .left .content h3.head::before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: -10px;
  bottom: 5px;
  width: 3px;
  background-color: #2c2a96;
}

.about .container .left .content p {
  font-size: 1rem;
}

.about .container .right {
  max-width: 400px;
}

.about .container .right img {
  width: 30rem;
}

@media screen and (max-width: 683px) {
  .about .container .right img {
    width: 25rem;
  }
}

@media screen and (max-width: 478px) {
  .about .container .right img {
    width: 20rem;
  }
}

.heart {
  position: relative;
}

.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 20px;
  top: 0;
  width: 20px;
  height: 35px;
  background: #050505;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.heart2 {
  position: relative;
}

.heart2:before,
.heart2:after {
  position: absolute;
  content: "";
  left: 10px;
  top: 0;
  width: 10px;
  height: 18px;
  background: #050505;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.heart2:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.services .container .head {
  text-align: center;
}

.services .container .head h6.top-head {
  font-size: 0.9rem;
  color: #5c0340;
}

.services .container .head h5.sub-head {
  font-size: 1.8rem;
}

.services .container .head h5.sub-head span {
  color: #5c0340;
}

.services .container .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin: 8% 0;
}

.services .container .cards .card {
  max-width: 280px;
  height: 200px;
  border: 1px solid rgba(39, 39, 39, 0.144);
  padding: 30px;
  border-radius: 10px;
}

.services .container .cards .card:hover {
  -webkit-box-shadow: 0px 0px 15px -2px #b3b1b1;
          box-shadow: 0px 0px 15px -2px #b3b1b1;
}

.services .container .cards .card .service-head {
  position: relative;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  -webkit-transform-origin: left;
          transform-origin: left;
  margin-bottom: 8px;
}

.services .container .cards .card .service-head::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -10px;
  bottom: 0;
  width: 3px;
  background-color: #f15f78;
}

.services .container .cards .card p.para {
  font-size: 0.9rem;
}

.testimonials {
  margin: 15% 0;
}

.testimonials .head {
  text-align: center;
}

.testimonials .head h6.top-head {
  font-size: 0.9rem;
  color: #5c0340;
}

.testimonials .head h5.sub-head {
  font-size: 1.8rem;
}

.testimonials .head h5.sub-head span {
  color: #5c0340;
}

.testimonials .container {
  margin: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.testimonials .container .card {
  width: 320px;
  border: 1px solid rgba(39, 39, 39, 0.144);
  padding: 20px;
  border-radius: 10px;
  margin-top: 80px;
}

.testimonials .container .card:hover {
  -webkit-box-shadow: 0px 0px 15px -2px #b3b1b1;
          box-shadow: 0px 0px 15px -2px #b3b1b1;
}

.testimonials .container .card .head {
  text-align: left;
  margin-top: -60px;
}

.testimonials .container .card .head img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.testimonials .container .card:hover .head img {
  -webkit-box-shadow: 0px 0px 15px -2px #b3b1b1;
          box-shadow: 0px 0px 15px -2px #b3b1b1;
}

.testimonials .container .card .content {
  margin: 20px 0;
}

.testimonials .container .card .content p {
  font-size: 0.9rem;
}

.testimonials .container .card .bottom {
  text-align: right;
}

.gallery {
  margin: 10% 0;
}

.gallery .container .head {
  text-align: center;
}

.gallery .container .head h6.top-head {
  font-size: 0.9rem;
  color: #5c0340;
}

.gallery .container .head h5.sub-head {
  font-size: 1.8rem;
}

.gallery .container .head h5.sub-head span {
  color: #5c0340;
}

.gallery .container .layout {
  margin-top: 50px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery .container .layout img {
  max-width: 300px;
  max-height: 300px;
}

.gallery .container .layout img:nth-child(4), .gallery .container .layout img:nth-child(5), .gallery .container .layout img:nth-child(6) {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  -webkit-mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
          mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
          mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

.gallery .container .overlay {
  text-align: center;
}

.gallery .container .overlay a.button {
  display: inline-block;
  border: 1px solid #6e6e6e;
  padding: 8px 9px;
  border-radius: 50%;
}

.gallery .container .overlay a.button:hover {
  background-color: #5c0340;
}

.gallery .container .overlay a.button i.fas {
  font-size: 2rem;
}

.gallery .container .overlay a.button i.fas:hover {
  color: white;
}

@media screen and (max-width: 980px) {
  .gallery .container .layout {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .gallery .container .layout img:nth-child(4) {
    -webkit-mask-image: none;
            mask-image: none;
  }
}

@media screen and (max-width: 580px) {
  .gallery .container .layout {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: end;
    gap: 30px;
  }
  .gallery .container .layout img {
    max-width: 220px;
  }
  .gallery .container .layout img:nth-child(4) {
    -webkit-mask-image: none;
            mask-image: none;
  }
}

@media screen and (max-width: 480px) {
  .gallery .container .layout {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: end;
    gap: 20px;
  }
  .gallery .container .layout img {
    max-width: 190px;
  }
  .gallery .container .layout img:nth-child(4) {
    -webkit-mask-image: none;
            mask-image: none;
  }
}

@media screen and (max-width: 380px) {
  .gallery .container .layout {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: end;
    gap: 20px;
  }
  .gallery .container .layout img {
    max-width: 170px;
  }
  .gallery .container .layout img:nth-child(4) {
    -webkit-mask-image: none;
            mask-image: none;
  }
}

.contact {
  margin: 10% 0;
}

.contact .container .head {
  text-align: center;
}

.contact .container .head h6.top-head {
  font-size: 0.9rem;
  color: #5c0340;
}

.contact .container .head h5.sub-head {
  font-size: 1.8rem;
}

.contact .container .head h5.sub-head span {
  color: #5c0340;
}

.contact .container .content {
  text-align: center;
  margin-top: 30px;
}

.contact .container .content .contact-btns a {
  display: inline-block;
  border: 1px solid #797979;
  font-size: 1rem;
  margin-top: 20px;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 10px;
  color: #050505;
}

.contact .container .content .contact-btns a:hover {
  background-color: #5c0340;
  color: #ffff;
}

.contact .container .content a.location {
  display: inline-block;
  margin: 8px 0;
  font-size: 1rem;
  color: #050505;
}

.contact .container .content .social {
  margin-top: 70px;
  color: #050505;
}

.contact .container .content .social .head {
  font-size: 0.8rem;
}

.contact .container .content .social .icons a {
  display: inline-block;
  margin: 0 5px;
}

.contact .container .content .social .icons a i.fab {
  color: #050505;
  font-size: 0.9rem;
}

.data {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: data;
}

.nav {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: navI;
}

.dev-contact {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: dev;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 50px 0;
}

footer a {
  color: #fff;
}

footer .wrapper {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "data data data navI navI navI" "dev dev dev dev dev dev";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .wrapper h6.logo {
  font-size: 2rem;
  line-height: 20px;
  margin-bottom: 20px;
}

footer .wrapper h6.logo span {
  font-size: 1.2rem;
}

footer .wrapper a.location {
  font-size: 0.8rem;
}

footer .wrapper .nav ul a li {
  font-size: 0.8rem;
  margin: 5px 0;
}

footer .wrapper .dev-contact {
  margin-top: 20px;
}

footer .wrapper .dev-contact .icons a.dev-btn {
  color: #fff;
  font-size: 1.2rem;
  margin: 8px 15px;
}

footer .dev {
  text-align: center;
}

footer .dev h6 {
  font-size: 0.6rem;
}

@media screen and (max-width: 480px) {
  footer .wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "data data data navI navI navI" "dev dev dev dev dev dev";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .dev-contact {
    text-align: center;
    margin-top: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  footer .dev-contact h6 {
    font-size: 0.8rem;
  }
  footer .dev-contact .icons a.dev-btn {
    color: #fff;
    font-size: 1rem;
    margin: 8px 5px;
  }
}

@-webkit-keyframes hehe {
  0% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    opacity: 0;
  }
  45% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes hehe {
  0% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
    opacity: 0;
  }
  45% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (max-width: 550px) {
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
  }
}

@media screen and (max-width: 360px) {
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
  }
}
/*# sourceMappingURL=main.css.map */