.about {
  margin: 15% 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem auto;
    .left {
      max-width: 600px;
      .content {
        h3.head {
          font-size: 1.7rem;
          margin-bottom: 35px;
          position: relative;
          span {
            color: $link;
          }
          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 5px;
            left: -10px;
            bottom: 5px;
            width: 3px;
            background-color: rgb(44, 42, 150);
          }
        }
        p {
          font-size: 1rem;
        }
      }
    }
    .right {
      max-width: 400px;
      img {
        width: 30rem;
      }
    }
  }
}
@media screen and (max-width: 683px) {
  .about {
    .container {
      .right {
        img {
          width: 25rem;
        }
      }
    }
  }
}
@media screen and (max-width: 478px) {
  .about {
    .container {
      .right {
        img {
          width: 20rem;
        }
      }
      .left {
        .content {
          h3.head {
            font-size: 1.3rem;
            text-align: left;
            &::before {
              top: 7px;
              bottom: 7px;
            }
          }
          p {
            text-align: center;
          }
        }
      }
    }
  }
}
