.data {
  grid-area: data;
}
.nav {
  grid-area: navI;
}
.dev-contact {
  grid-area: dev;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 50px 0;
  a {
    color: #fff;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "data data data navI navI navI"
      "dev dev dev dev dev dev";
    align-items: center;
    justify-content: center;
    h6.logo {
      font-size: 2rem;
      line-height: 20px;
      margin-bottom: 20px;
      span {
        font-size: 1.2rem;
      }
    }
    a.location {
      font-size: 0.8rem;
    }
    .nav {
      ul {
        a {
          li {
            font-size: 0.8rem;
            margin: 5px 0;
          }
        }
      }
    }
    .dev-contact {
      text-align: center;
      margin-top: 20px;
      .icons {
        a.dev-btn {
          color: #fff;
          font-size: 1.2rem;
          margin: 8px 15px;
        }
      }
    }
  }
  .dev {
    text-align: center;
    h6 {
      font-size: 0.6rem;
    }
  }
}

@media screen and (max-width: 480px) {
  footer {
    .wrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "data data data navI navI navI"
        "dev dev dev dev dev dev";
      align-items: center;
    }
    .dev-contact {
      text-align: center;
      margin-top: 20px;
      align-self: center;
      h6 {
        font-size: 0.8rem;
      }
      .icons {
        a.dev-btn {
          color: #fff;
          font-size: 1rem;
          margin: 8px 5px;
        }
      }
    }
  }
}
