header {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1.logo {
    font-size: 1.2rem;
    line-height: 13px;
    span {
      font-size: 0.8rem;
    }
  }
  .nav-links {
    nav {
      ul {
        display: flex;
        a {
          color: $text-color;
          li {
            margin: 0 10px;
            font-size: 1rem;
            font-weight: 600;
          }
          &:hover {
            color: $link;
          }
        }
      }
    }
  }
  a.button {
    font-size: 0.8rem;
    background-color: $link;
    color: #fff;
    padding: 8px;
    border-radius: 10px;
    &:hover {
      background-color: #f5f5f5;
      color: $text-color;
    }
  }
}
