header {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1.logo {
    font-size: 1.2rem;
    line-height: 13px;
    span {
      font-size: 0.8rem;
    }
  }
  .nav-links {
    nav {
      ul {
        display: flex;
        a {
          color: $text-color;
          li {
            margin: 0 10px;
            font-size: 1rem;
            font-weight: 600;
          }
          &:hover {
            color: $link;
          }
        }
      }
    }
  }
  .button-nav {
    display: none;
  }
  a.button {
    font-size: 0.8rem;
    background-color: $link;
    color: #fff;
    padding: 8px;
    border-radius: 10px;
    &:hover {
      background-color: #f5f5f5;
      color: $text-color;
    }
  }
}
@media screen and (max-width: 550px) {
  header {
    position: relative;
    h1.logo {
      flex: 1;
    }
    .nav-links {
      position: absolute;
      top: 10vh;
      text-align: center;
      width: 100%;
      padding: 10px;
      opacity: 0;
      pointer-events: none;
      transition: all 0.5s ease-in-out;
      transform-origin: top;
      nav {
        ul {
          flex-direction: column;
        }
      }
    }
    .nav-links.open {
      opacity: 1;
      pointer-events: all;
      z-index: 10;
      background-color: #fff;
    }
    .button-nav {
      display: block;
      font-size: 1rem;
      padding: 0 20px;
    }
  }
}
