.testimonials {
  margin: 15% 0;
  .head {
    text-align: center;
    h6.top-head {
      font-size: 0.9rem;
      color: $link;
    }
    h5.sub-head {
      font-size: 1.8rem;
      span {
        color: $link;
      }
    }
  }
  .container {
    margin: 5% 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    .card {
      width: 320px;
      border: 1px solid rgba(39, 39, 39, 0.144);
      padding: 20px;
      border-radius: 10px;
      margin-top: 80px;
      &:hover {
        box-shadow: 0px 0px 15px -2px rgb(179, 177, 177);
      }
      .head {
        text-align: left;
        margin-top: -60px;
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
      }
      &:hover .head img {
        box-shadow: 0px 0px 15px -2px rgb(179, 177, 177);
      }
      .content {
        margin: 20px 0;
        p {
          font-size: 0.9rem;
        }
      }
      .bottom {
        text-align: right;
      }
    }
  }
}
